{% extends 'webapp/layout.html' %}
{% load static %}


{% block content %}
<div class="bg-white rounded-lg shadow overflow-hidden">
  <div class="p-4 sm:p-6 lg:p-8 border-b border-gray-200">
      <h2 class="text-lg font-medium leading-6 text-gray-900">Welcome to Sparrow Sports Tournaments</h2>        
      <p class="mt-1 text-sm text-gray-500">Edition 2023</p>
  </div>
  <div class="p-4 sm:p-4 lg:p-8">
    <div class="flex items-center">  
      <img src="{% static 'webapp/images/leaguetable_icon.svg' %}" alt="League table icon" width=120 />
      <p class="pl-8">
        Organize and participate in tournaments for both single and team players! <br/>
        To create or join a tournament, log in or create an account.
      </p>      
    </div>
    
    
    
    <h2 class="text-lg font-medium leading-6 text-gray-900 mt-4">Single Tournaments</h2>
    <div class="flex items-center">  
      <img src="{% static 'webapp/images/tabletennis_icon.svg' %}" alt="Table tennis icon" width=120 />
        <p class="pl-8">
          Join our single tournaments and compete against other individual players <br/>
          for the championship title!
        </p>          
      </div>
      
      <h2 class="text-lg font-medium leading-6 text-gray-900  mt-4">Team Tournaments</h2>
      <div class="flex items-center">  
      <img src="{% static 'webapp/images/tablefootball_icon.svg' %}" alt="Table football icon" width=120 />
          <p class="pl-8">
            Join our team tournaments and form a team or join an existing one to <br/>
            compete against other teams for the championship title!
          </p>          
        </div>
  </div>
</div>

{% endblock %}
