{% extends 'webapp/layout.html' %}

{% block content %}
<div class="bg-white rounded-lg shadow overflow-hidden">
  <div class="p-4 sm:p-6 lg:p-8 border-b border-gray-200 flex justify-between">
    <h2 class="text-lg font-medium leading-6 text-gray-900 flex">
      <a href="{% url 'team_tournament_detail' tournament_id=tournament.id %}" class="inline-flex items-center px-1 py-0 mr-2 rounded-md text-sm font-medium bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200">
        <svg viewBox="0 0 24 24" class="h-6 w-6 fill-current">
          <path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/>
        </svg>
      </a>
      {{tournament.name}} - Teams</h2>
    <a href="{% url 'team_tournament_create_team' tournament_id=tournament.id %}" class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200">
      Create team
    </a>
  </div>
  <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-1 gap-4">    
  {% if teams %}
    {% for team in teams %}
      <div class="p-4 sm:p-4 lg:p-8">
        <div class="pb-1 mb-1 flex justify-between border-spacing-1 border-b">          
          <h2 class="text-lg font-medium leading-6 text-gray-900">{{team.name}}</h2>
          
          {% if team.players.count < team.tournament.max_team_size and player not in team.players.all %}
            <form action="{% url 'team_tournament_team_join' tournament_id=tournament.id team_id=team.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-blue-100 text-blue-800 hover:bg-blue-200 focus:outline-none focus:bg-blue-200">
                  Join
              </button>
            </form>
          {% endif %}            
          
        </div>
        {% if team.players %}
          {% for player in team.players.all %}
          <div class="px-1 py-1 flex items-center justify-between">
            <p class="">{{ player }}</p>
          </div>
          {% endfor %}  
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    <p>No teams found.</p>
  {% endif %}
</div>
{% endblock %}
